
    <header class="page-header">
      <div class="container-fluid">
        <h2 class="no-margin-bottom">topics</h2>
      </div>
    </header>

<section class="dashboard-header">
  <div class="container-fluid">
    <div class="row">
      <!-- Statistics -->
      <div class="statistics col-lg-3 col-12">
        <div class="statistic d-flex align-items-center bg-white has-shadow">
          <div class="icon bg-red"><i class="fa fa-tasks"></i></div>
          <div class="text"><strong>{{topics$.length}}</strong><br><small>Topics</small></div>
        </div>
        <div class="statistic d-flex align-items-center bg-white has-shadow">
          <div class="icon bg-green"><i class="fa fa-calendar-o"></i></div>
          <div class="text"><strong>00</strong><br><small>Acls</small></div>
        </div>
        <div class="statistic d-flex align-items-center bg-white has-shadow">
          <div class="icon bg-orange"><i class="fa fa-paper-plane-o"></i></div>
          <div class="text"><strong>00</strong><br><small>Configs</small></div>
        </div>
      </div>
  
  
      <div class="chart col-lg-6 col-12">
        <div class="bg-white d-flex align-items-center justify-content-center has-shadow">
           <!-- Page Header-->
           

          <div class="container">
          <!--insert topic lists here-->
        

          <div class="content">
          <form method="post" class="form-validate" autocomplete="off">
              <div class="form-group">
                <input id="login-username" type="text" name="filter" [(ngModel)]="term" class="input-material">
                <label class="label-material">filter</label>
              </div>
              </form>
            </div>
     
          <!--
          <ul>
            <div class="row">
      
              <li class="list-group-item col-10 align-items-center"  *ngFor='let topic of topics$ | filter:term'> {{topic }} 
                <ul> 
                  <li (click)="toggleHide()">     
                 <div class="row" [hidden]="getHide()" >
                  <a routerLink="description/{{topic}}">
                    <i class="material-icons md-light md-active col-1">description</i>
                  </a>
                  <a routerLink="configs/{{topic}}">
                    <i class="material-icons md-light md-inactive col-1">settings</i>
                  </a>
                  <a routerLink="acls/{{topic}}">
                    <i class="material-icons md-light md-inactive col-1">supervised_user_circle</i>
                  </a>
                </div>
              </li> 
              </ul> 
              </li>
            </div>
          </ul>
          -->

          <div class="card-body">
            <div class="table-responsive">                       
              <table class="table table-hover">
               
                <tbody *ngFor='let topic of topics$ | filter:term'>
                  <tr>
                    <td> {{topic}}</td>
                    <td>
                        <div class="row" [hidden]="getHide()" >
                            <a routerLink="description/{{topic}}">
                              <i class="material-icons md-light md-active col-1">description</i>
                            </a>
                            <a routerLink="configs/{{topic}}">
                              <i class="material-icons md-light md-inactive col-1">settings</i>
                            </a>
                            <a routerLink="acls/{{topic}}">
                              <i class="material-icons md-light md-inactive col-1">supervised_user_circle</i>
                            </a>
                          </div>
                  </td>
                  
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          
          
            </div>

          <!--end of list of topics-->
        </div>
      </div>
    </div>
  </div>
</section>

