


    <header class="page-header">
      <div class="container-fluid">
        <h2 class="no-margin-bottom">ACLs</h2> <h3>/{{topic$}}</h3>
      </div>
    </header>

    <section class="dashboard-header">
      <div class="container-fluid">
        <div class="row">
          <!-- Statistics -->
          <div class="statistics col-lg-3 col-12">
            <div class="statistic d-flex align-items-center bg-white has-shadow">
              <div class="icon bg-red">
                <i class="fa fa-tasks"></i>
              </div>
              <div class="text">
                <strong>{{acls$.length}}</strong>
                <br>
                <small>ACLs</small>
              </div>
            </div>
            <div class="statistic d-flex align-items-center bg-white has-shadow">
              <div class="icon bg-green">
                <i class="fa fa-calendar-o"></i>
              </div>
              <div class="text">
                <strong>00</strong>
                <br>
                <small>Acls</small>
              </div>
            </div>
            <div class="statistic d-flex align-items-center bg-white has-shadow">
              <div class="icon bg-orange">
                <i class="fa fa-paper-plane-o"></i>
              </div>
              <div class="text">
                <strong>00</strong>
                <br>
                <small>Configs</small>
              </div>
            </div>
          </div>


          <div class="chart col-lg-9 col-12">
            <div class="bg-white d-flex align-items-center justify-content-center has-shadow">
              <!-- Page Header-->


              <div class="container">
                <!--insert topic lists here-->
                <div class="card-body">
                    <div class="table-responsive">                       
                      <table class="table table-striped table-hover">
                        <thead>
                          <tr>
                            <th>Principal</th>
                            <th>Permission</th>
                            <th>Operation</th>
                            <th>Hosts</th>
                          </tr>
                        </thead>
                        <tbody *ngFor='let acl of acls$'>
                          <tr>
                            <td> {{acl.principal}}</td>
                            <td>{{acl.permission}}</td>
                            <td>{{acl.operation}}</td>
                            <td>{{acl.hosts}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
              </div>
              <!--end of container for the list of acls-->
            </div>
          </div>
          <div class="chart col-lg-3 col-12">
            <!-- Bar Chart   -->
          </div>
        </div>
      </div>
    </section>