<div class="page login-page">
  <div class="container d-flex align-items-center">
    <div class="form-holder has-shadow">
      <div class="row">
        <!-- logo & information panel-->
        <div class="col-lg-6">
          <div class="info d-flex align-items-center">
            <div class="content">
              <div class="logo">
                <h1>kafka topics ui</h1>
              </div>
              <p>lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
        <!-- Form Panel    -->
        <div class="col-lg-6 bg-white">
          <div class="form d-flex align-items-center">
            <div class="content">
              <form method="post" class="form-validate">
                <div class="form-group">
                  <input id="login-username" type="text" name="loginUsername" required data-msg="please enter your username" class="input-material">
                  <label for="login-username" class="label-material">user name</label>
                </div>
                <div class="form-group">
                  <input id="login-password" type="password" name="loginPassword" required data-msg="please enter your password" class="input-material">
                  <label for="login-password" class="label-material">password</label>
                </div><a id="login" (click)="onLoginClick()" class="btn btn-primary">login</a>
                <!-- This should be submit button but I replaced it with <a> for demo purposes-->
              </form><a href="#" class="forgot-pass">forgot password?</a><br><small>do not have an account? </small><a href="register.html" class="signup">signup</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyrights text-center">
    <p>design by <a href="#4" class="external">brook a.</a>
    </p>
  </div>
</div>

