

<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">configs</h2> <h3></h3>
  </div>
</header>

<section class="dashboard-header">
  <div class="container-fluid">
    <div class="row">
      <!-- Statistics -->
      <div class="statistics col-lg-3 col-12">
          <div class="statistic d-flex align-items-center bg-white has-shadow">
              <div class="text">
                {{topic$}}
              </div>
            </div>
      </div>


      <div class="chart col-lg-5 col-12">
        <div class="bg-white d-flex align-items-center justify-content-center has-shadow">
          <!-- Page Header-->
          <div class="container">
            <!--insert topic lists here-->
            <div class="card-body">

                <div class="table-responsive">             
                  <table class="table table-striped table-hover">
                    <thead>
                      <tr>
                        <th>entry</th>
                        <th>value</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>partitions</td>
                        <td> {{configs$.partitions}}</td>
                      </tr>
                      <tr>
                        <td>replicas</td>
                        <td>{{configs$.replicas}}</td>
                      </tr>
                      <tr>
                        <td>segment.bytes</td>
                        <td> {{configs$['segment.bytes']}}</td>
                      </tr>
                      <tr>
                        <td>retention.bytes</td>
                        <td> {{configs$['retention.bytes']}}</td>
                      </tr>
                      <tr>
                        <td> retention.ms</td>
                        <td> {{configs$['retention.ms']}}</td>
                      </tr>
                      <tr>
                        <td>cleanup.policy</td>
                        <td> {{configs$['cleanup.policy']}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
          </div>
          <!--end of container for the list of acls-->
        </div>
      </div>
      <div class="chart col-lg-3 col-12">
        <!-- Bar Chart   -->
      </div>
    </div>
  </div>
</section>